// Place all the styles related to the cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1 {

  margin: 0;
  margin-left: 10px;
  padding: 0;
  width: 100%;
}

.top {
  background-color: beige;
  margin: 0;
  padding: 0;
  width: 100%;
}
